body {
    font-family: Arial, sans-serif;
    background: #efefff; /* Light blue background */
    width: 300px;
    padding: 15px;
    margin: 0;
    color: #222;
    text-align: left;
    line-height: 1.15;
}

.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settings {
    display: flex;
    flex-direction: column;
    align-items: left;
}

h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #222;
}

h4 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #222;
}

.toggle-container {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    padding: 10px 0;
    position: relative;
}

.toggle-slider {
    width: 34px;
    height: 18px;
    background: #ccc;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    transition: background 0.2s;
}

.toggle-slider::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    background: white;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    transition: 0.2s;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked + .toggle-slider {
    background: #0078D4;
}

input[type="checkbox"]:checked + .toggle-slider::before {
    left: 18px;
}

.toggle-label {
    font-size: 14px;
    margin-left: 10px;
}

/* Dropdown Menu */
label[for="lookupMode"] {
    font-size: 14px;
    margin-top: 25px;
    margin-left: 25px;
    display: block;
    color: #222;
}

label[for="projectDays"] {
    font-size: 14px;
    margin-top: 25px;
    margin-left: 25px;
    display: block;
    color: #222;
}

select {
    width: 12em;
    white-space: nowrap;
    padding: 6px;
    margin-top: -10px;
    margin-left: 55px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #f8f8f8;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
}

select:focus {
    border-color: #888;
    background: #f0f0f0;
}

/* Button Styling */
button {
    width: 40%;
    padding: 10px;
    margin-top: 25px;
    background: #0078D4;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: 0.2s;
}

button:hover {
    background: #004880;
}
